.Item {
  width: auto;
  height: auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
  cursor: pointer;
}

.Item__image {
	width: 100%;
	height: auto;
}

.Item__title, .Item__info {
	margin: 0px;
}
