.Item {
  width: auto;
  height: auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
  cursor: pointer;
}

.Item__image {
	width: 100%;
	height: auto;
}

.Item__title {
  word-wrap: break-word !important;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  color: rgb(72, 72, 72) !important;
  font-weight: 800 !important;
	margin: 0px !important;
}

.Item__info {
  word-wrap: break-word !important;
  font-size: 14px !important;
  line-height: 18px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  color: rgb(72, 72, 72) !important;
  font-weight: normal !important;
  display: inline !important;
  margin: 0px !important;
}
