@media only screen and (min-width: 1100px) {
	.Map {
		background: #CCC;
		height: 100vh;
		position: sticky!important;
		left: 0;
		top: 0;
	}
}

.marker {
	transform: translate(-50%, calc(-100% - 10px));
	white-space: nowrap;
	font-family: Roboto, Arial, sans-serif;
	font-size: 11px;
	padding: 5px 10px;
	font-weight: bold;
	text-align: center;
	background: #FFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	border-radius: 2px;
}

.marker::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -8px;
	border-left: 8px solid transparent;
	border-top: 8px solid #FFF;
}

.marker.is-active {
	background: #5069FF;
	color: #FFF;
	z-index: 1000;
}

.marker.is-active::after {
	border-top-color: #5069FF;
}
