.Map {
	background: #CCC;
	height: 100vh;
	position: sticky!important;
	left: 0;
	top: 0;
}

.marker {
	transform: translate(-50%, calc(-100% - 10px));
	white-space: nowrap;
	font-family: Roboto, Arial, sans-serif;
	font-size: 11px;
	padding: 5px 10px;
	font-weight: bold;
	text-align: center;
	background: #FFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
	border-radius: 2px;
}

.marker::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	margin-left: -8px;
	border-left: 8px solid transparent;
	border-top: 8px solid #FFF;
}

.marker.is-active {
	background: #5069FF;
	color: #FFF;
	z-index: 1000;
}

.marker.is-poped {
  width: auto;
  width: 260px;
  padding: 0;
  z-index: 10000;
  animation: .2s ease-in popin;
}

.marker h4 {
  word-wrap: break-word !important;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  color: rgb(72, 72, 72) !important;
  font-weight: 800 !important;
}

.marker p {
  word-wrap: break-word !important;
  font-size: 14px !important;
  line-height: 25px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  color: rgb(72, 72, 72) !important;
  font-weight: normal !important;
  padding: 4px;
}

.marker.is-active::after {
	border-top-color: #5069FF;
}

@keyframes popin {
  from { opacity: 0; }
  to   { opacity: 1; }
}
